@(airports: List[Airport], runways: List[Runway])

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" 
          href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">

    <title>Airports</title>

  </head>
  <body>

    <div class="container"> @for(airport <- airports) {
                                            
      <div class="panel panel-default">
        <div class="panel-heading">@airport.name (@airport.category)</div>
        <div class="panel-body">
              <p>LAT/LONG: @airport.latitude / @airport.longitude</p>
              @if(!airport.elevation_ft.isEmpty){<p>Elevation (ft): @airport.elevation_ft</p>}
              @if(!airport.municipality.isEmpty){<p>Municipality: @airport.municipality</p>}
              @if(!airport.iso_region.isEmpty){<p>Region: @airport.iso_region</p>}
              @if(!airport.scheduled_service.isEmpty){<p>Scheduled service: @airport.scheduled_service</p>}
              @if(!airport.gps_code.isEmpty){<p>GPS code: @airport.gps_code</p>}
              @if(!airport.iata_code.isEmpty){<p>IATA code: @airport.iata_code</p>}
              @if(!airport.local_code.isEmpty){<p>Local code: @airport.local_code</p>}
              @if(!airport.home_link.isEmpty){<p>Website: <a href="@airport.home_link">@airport.home_link</a></p>}
              @if(!airport.wikipedia_link.isEmpty){<p>Wikipedia: <a href="@airport.wikipedia_link">@airport.wikipedia_link</a></p>}
              @if(!airport.keywords.isEmpty){<p>Keywords: @airport.keywords</p>}

              @if(runways.filter(_.airport_ident == airport.ident).length > 1) { 
              <div class="panel panel-default">
                <div class="panel-heading">Runways (ft, deg)</div>
                <div class="panel-body">

                  <table class="table">
                    <thead>
                      <tr>
                        <th>Surface</th>
                        <th>Length</th>
                        <th>Width</th>
                        <th>Lighted</th>
                        <th>Closed</th>
            
                        <th><strong>LE</strong></th>
                        <th>Lat</th>
                        <th>Long</th>
                        <th>Elv</th>
                        <th>Hd</th>
                        <th>Thr</th>
            
                        <th><strong>HE</strong></th>
                        <th>Lat</th>
                        <th>Long</th>
                        <th>Elv</th>
                        <th>Hd</th>
                        <th>Thr</th>
                      </tr>
                    </thead>
                    <tbody>
                    @for(runway <- runways.filter(_.airport_ident == airport.ident)) {
                    <tr>
                      <td>@runway.surface</td>
                      <td>@runway.length_ft</td>
                      <td>@runway.width_ft</td>
                      <td>@runway.lighted</td>
                      <td>@runway.closed</td>
            
                      <td><strong>@runway.le_ident</strong></td>
                      <td>@runway.le_latitude_deg</td>
                      <td>@runway.le_longitude_deg</td>
                      <td>@runway.le_elevation_ft</td>
                      <td>@runway.le_heading_degT</td>
                      <td>@runway.le_displaced_threshold_ft</td>
            
                      <td><strong>@runway.he_ident</strong></td>
                      <td>@runway.he_latitude_deg</td>
                      <td>@runway.he_longitude_deg</td>
                      <td>@runway.he_elevation_ft</td>
                      <td>@runway.he_heading_degT</td>
                      <td>@runway.he_displaced_threshold_ft</td>
                    </tr>
                    }
                    </tbody>
                  </table>
                </div>
              </div>
              }

           </div>

      </div>
      }
      
  </body>
</html>
