@(countryForm: Form[Country])(implicit lang: Lang, request: RequestHeader)
@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" 
          href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" 
          href="@routes.Assets.versioned("stylesheets/home.css")">

    <title>Landing</title>

  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">Look at a country's airports</h1>           
            <div class="lead">
               @helper.form(action = routes.HomeController.query()) {
               @helper.CSRF.formField
               @helper.inputText(countryForm("code"), 
                  'id -> "code",
                  'class -> "ui-state-default",
                  'autocomplete -> "onx",
                  'placeholder -> "Country name or code",
                  '_label -> null)
             </div>
            <p class="lead">
              <br/>
              <a href="@routes.ReportController.print" class="btn btn-lg btn-default">or check the report</a>
            </p>
          </div>
        </div>
      </div>
    </div>














    
  }
  </body>
</html>

