@(highest: List[(String, Int)], lowest: List[(String, Int)], countries: List[String], runways: List[(String,String)])

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" 
          href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" 
          href="@routes.Assets.versioned("stylesheets/report.css")">

    <title>Report</title>

  </head>
  <body>

    <div class="container">

      <div class="row">
        <div class="col-xs-6">

          <div class="row" id="top10">
            <div class="col-md-6">
              <!-- Top 10 countries with the highest number of airports -->
              <ul class="list-group">
                <li class="list-group-item">
                  <strong>Top 10 countries with the highest number of airports</strong>
                </li>
                @for(h <- highest) {
                          <li class="list-group-item">
                            <span class="badge">@h._2</span>
                            @h._1
                          </li>
                          }
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          
          <div class="row" id="bottom10">
            <div class="col-md-6">
              <!-- Bottom 10 countries with the lowest number of airports -->
              <ul class="list-group">
                <li class="list-group-item">
                  <strong>Bottom 10 countries with the lowest number of airports</strong>
                </li>
                @for(l <- lowest) {
                          <li class="list-group-item">
                            <span class="badge">@l._2</span>
                            @l._1
                          </li>
                          }
              </ul>
            </div>
          </div>

        </div> 
      </div>

        <!-- Display runway types per country -->

    
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="col-xs-1">Country</th>
                <th class="col-xs-11">Types of runways</th>
              </tr>
              </thead>
              <tbody>
                @for(country <- countries) {
                                <tr> <td>@country</td>              
                                  <td>@for(runway <- runways.filter(_._1 == country)) {
                                                     @runway._2
                                                     }</td></tr>
                                                     }
                                                     </tbody>
            </table>
          </div>
        </div>
      </div>
      
  </body>
</html>
